.input-group {
  position: relative;
}

/* Oculta botones nativos del navegador */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-input-password-toggle-button {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
}

input[type="password"]::-webkit-input-password-toggle {
  display: none;
}

input[type="password"]::-o-input-password-toggle {
  display: none;
}

/* Grupo que contiene el input de contraseña y el botón del ojo */
.input-pass-group {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

/* Estilo visual unificado del input de contraseña */
.input-pass-group input {
  width: 100%;
  padding: 10px 45px 10px 14px; /* padding derecho para el ícono */
  border: 1px solid #b4ceec;
  border-radius: 8px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #365A7D;
  background: #fafdff;
  transition: border 0.2s, box-shadow 0.2s, background-color 0.2s;
}


.input-pass-group input:focus {
  outline: none;
  border: 2px solid #ff9900;
  box-shadow: 0 0 0 2px #ffe0b2;
  background-color: #fffdfa;
}

/* Botón del ojo */
.eye-toggle-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.eye-toggle-btn:hover {
  background: #b4ceec;
}

.eye-icon {
  width: 22
}