.input-date-group {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

/* Input visual que simula el DatePicker */
.input-date-trigger {
  width: 100%;
  padding: 10px 45px 10px 14px; /* espacio derecho para el ícono */
  border: 1px solid #b4ceec;
  border-radius: 8px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #365A7D;
  background: #fafdff;
  transition: border 0.2s, box-shadow 0.2s, background-color 0.2s;
  cursor: pointer;
}

.input-date-trigger:focus {
  outline: none;
  border: 2px solid #ff9900;
  box-shadow: 0 0 0 2px #ffe0b2;
  background-color: #fffdfa;
}

/* Botón de ícono flotante para abrir el calendario */
.calendar-toggle-btn {
 position: absolute;
  right: 10px;
  top: 50%;
  width: 25px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.calendar-toggle-btn:hover {
  background: #b4ceec;
}

.calendar-icon {
  width: 22px;
  height: 22px;
}

