/* Estilo base para todos los botones */
.custom-button {
  background-color: #365A7D;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover general */
.custom-button:hover {
  background-color: #24496b;
}

/* Botón del Login tiene un color hover más fuerte */
.button-login:hover {
  background-color: #005599;
}

/* Variantes de padding y tamaño en dispositivos pequeños */
@media (max-width: 600px) {
  .custom-button {
    font-size: 1rem;
    padding: 10px;
  }
}
